.container-fluid {
  width: 60%;
  margin-top: 100px;
}

.main {
  display: flex;
  justify-content: space-between;
  color: white
}

.main > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.detail__description {
  margin-top: 60px;
}

.detail__episodes {
  margin: 50px 0;
}

.detail__episodes h4,
.detail__episodes a {
  color: white;
}

.detail__episodes_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .container-fluid {
    width: 100%;
    position: absolute;
    margin-top: 0px;
  }

}
